<html>
    <head>
       <!-- <title>Blog de César Torres García</title  -->
    <meta charset="UTF-8">
	<title>Grid</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
            
    </head>
 
    <!--
<body>
    <header id=Principal>
        <div class="container">
        <h1 id="titulo"> My Blog</h1>
    </div>
    </header>
    

    <article id=Articulos>
    <div id="InformacionGeneral">    
	<h2>Acerca de mí</h2>
	<section >
		<h3>César Torres Garcia.</h3>
        <h4>Name:</h4>
        <p>César Torres García:</p>
        
        <h4>Email:</h4>
        <p>cesarsystem04@gmail.com</p>
        
        <h4>Telefono:</h4>
        <p>55-1963-1166</p>
        
        <div id"AcercaDeMi">
            <p>Mí nombre es César Torres García, me dedico al desarrollo e implementación de sistemas Web y aplicaciones de escritorio en la plataforma.Net<br> Cuento con 3 años de experiencia y mucha pación y lecciones aprendidas a lo largo de esta aventura de ejercer mi actividad profecional. <br>
            Proveedor de soluciones creativas como diseñador de gráficos freelance, front-end y desarrollador de back-end.
            
            </p>
            
        </div>
        
        
	</section>
	</div>
      
        <br>
        <br>
        <br>
        
        <div id="Trabajos">
    <section>
        
		<h3>Título del segundo capítulo</h3>
		<p>Primer párrafo.</p>
		<p>Segundo párrafo.</p>
		<p>Tercer párrafo.</p>
        
        <div class="secction-tittle">
            
        <div class="section-title-name">
            <span>What I can do </span>
            <h2>Services</h2>
        </div>
            
        <div class="title-name-gray">
            <strong>Services</strong>
            
        </div>
            
            
            <div class="Rows">
                
                <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-block">
                    <span class="ti-desktop"></span>
                        <h2>Front End Development</h2>
                        <p>Front end development is the second most important aspect of a site, right behind back end. No one wants to do business with someone with a hideous website. A beautiful design is my personal goal for every project.</p>

                </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-block">
                    <span class="ti-slice"></span>
                    <h2>Back End Development</h2>
                    <p>Beautifying the site is one thing, but if it doesn't function what's the point! I am fluent in PhP and MySql, providing you with the best flowing and functional site as possible. My backend services include: user systems, API integration and more. </p>
                    <div class="contact-button">
                    </div>
                    </div> 
                    
                </div>
                 
                

                
            
            
            
            
        </div>
        
        
	</section>
            
            </div>
            
	<section id="InforacionContacto">
		<h3>Título del tercer capítulo</h3>
		<p>Primer párrafo.</p>
		<p>Segundo párrafo.</p>
		<p>Tercer párrafo.</p>
	</section>
	<footer>
		<p>Escrito por César Torres García</p>
	</footer>
</article>
    
</body>
 -->
    
    <body>
	<header>
		<div class="container">
			<h1>Mi blog Personal!</h1>
			<h3>Powered by Torito Lab</h3>
		</div>
	</header>
	
	<div class="container">
		<div class="main row">
			<article class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<p>
					<h3>Información general</h3>
					<!--<h4 class="visible-xs">12 Columnas</h4>
					<h4 class="visible-sm">8 Columnas</h4>
					<h4 class="visible-md">9 Columnas</h4>
					<h4 class="visible-lg">9 Columnas</h4>-->
					<h4>Nombre: César Torres García</h4>
                    Me dedico al desarrollo e implementación de sistemas Web y aplicaciones de escritorio en la plataforma.Net<br> Cuento con 3 años de experiencia, mucha pación y lecciones aprendidas a lo largo de esta aventura de ejercer mi actividad profecional. <br>
                    Proveedor de soluciones creativas como diseñador de gráficos freelance, front-end y desarrollador de back-end.
				</p>
			</article>
		
			<aside class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>
					<h3>Conocimientos</h3>

                
                               <p> Manejo y dominio de Java Standard Edition con el

                Framework NetBeans, para generar Interfaces gráficas y

                conexión a bases de datos, y uso de Java Enterprise

                Edition para crear aplicaciones web con JSP, y

                Webservices utilizando el protocolo SOAP</p>

                <p> PHP, HTML, CSS y Javascript para el desarrollo de

                aplicaciones web con el uso del Framework Symfony y

                    configuración de servidores Apache y Mysql. </p>

                <p> Conocimientos básicos en C#, la plataforma .Net y en el

                    lenguaje de programación Python </p>
				

			</aside>
		</div>

		<div class="row">
			<div class="color1 col-xs-12 col-sm-6 col-md-3">
				<h4 class="visible-xs">12 Columnas</h4>
				<h4 class="visible-sm">6 Columnas</h4>
				<h4 class="visible-md">3 Columnas</h4>
				<h4 class="visible-lg">3 Columnas</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<h4 class="visible-xs">12 Columnas</h4>
				<h4 class="visible-sm">6 Columnas</h4>
				<h4 class="visible-md">3 Columnas</h4>
				<h4 class="visible-lg">3 Columnas</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
			</div>

			<div class="color1 col-xs-12 col-sm-6 col-md-3">
				<h4 class="visible-xs">12 Columnas</h4>
				<h4 class="visible-sm">6 Columnas</h4>
				<h4 class="visible-md">3 Columnas</h4>
				<h4 class="visible-lg">3 Columnas</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<h4 class="visible-xs">12 Columnas</h4>
				<h4 class="visible-sm">6 Columnas</h4>
				<h4 class="visible-md">3 Columnas</h4>
				<h4 class="visible-lg">3 Columnas</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
			</div>
	

		</div>



		<div class="row">
				<div class=" col-xs-12 col-sm-6 col-md-3">
					<h4 class="visible-xs">12 Columnas</h4>
					<h4 class="visible-sm">6 Columnas</h4>
					<h4 class="visible-md">3 Columnas</h4>
					<h4 class="visible-lg">3 Columnas</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
				</div>
				<div class="color2 col-xs-12 col-sm-6 col-md-3">
					<h4 class="visible-xs">12 Columnas</h4>
					<h4 class="visible-sm">6 Columnas</h4>
					<h4 class="visible-md">3 Columnas</h4>
					<h4 class="visible-lg">3 Columnas</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
				</div>

				<div class=" col-xs-12 col-sm-6 col-md-3">
					<h4 class="visible-xs">12 Columnas</h4>
					<h4 class="visible-sm">6 Columnas</h4>
					<h4 class="visible-md">3 Columnas</h4>
					<h4 class="visible-lg">3 Columnas</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
				</div>

				<div class="color2 col-xs-12 col-sm-6 col-md-3">
					<h4 class="visible-xs">12 Columnas</h4>
					<h4 class="visible-sm">6 Columnas</h4>
					<h4 class="visible-md">3 Columnas</h4>
					<h4 class="visible-lg">3 Columnas</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ab qui laudantium dolor, sit doloremque aliquid earum nesciunt vero ullam commodi, blanditiis numquam natus libero repellat odit cum, ipsa nostrum!</p>
				</div>
	

		</div>



		<div  class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
			<ul>
				   <li><a href="http://www.google.com.mx" title="http://www.google.com.mx">Google</a></li>
   					<li><a href="#" title="http://www.facebook.com">Facebook</a></li>
			</ul>
			</div>

		</div>

	</div>



	<footer>
		<div class="container">
			<h3>Powered By -- Toriro Labs</h3>
			<h5>Make by Cés@r04 </h5>
		</div>
	</footer>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
    
</html>
