header {
	background:#00BFFF;
	color:#fff;
}

.main {
	background:#f2f2f2;
}

.color1 {
	background: #A4A4A4;
	color:#fff;
}


.color2 {
	background: #A4A4A4;
	color:#fff;
}

aside {
	background:#c0392b;
	color:#fff;
}

footer {
	background:#16a085;
	color:#fff;
}